# 1 - Tipos de Variáveis Aprendidos

* int - Algarismos numéricos inteiros;
* float - Algarismos numéricos decimais (ponto flutuante);
* str - Caracteres que formam palavras, frases e textos;
* bool - Expressões que representam verdadeiro (True) ou falso (False);
* list - Listas
* dict - Dicionários - Relação de Chave e Valor

### Criação de Variáveis:
* No python, primeiro é definido o nome da variável que é seguido por um único sinal de igual `=`, em seguida o valor desejado, seguindo o exemplo -> `nome_da_variavel = valor_da_variavel`
#
* Nome da variável ``não pode``:
    * Começar com números;
    * Conter espaço;
    * Conter ou começar com caracteres especiais (`:'",<>/?|\!@#%^&*~-+`), exceto `_` ("Underline");
    * Ser uma palavra que faz parte do python(True, False, while, for, in, list, str...).
#
* Nome da variável ``pode``:
    * Começar com letras maiúsculas ou minúsculas;
    * Conter ou começar com _ ("Underline").
#
* Boas práticas para nome de variáveis:
    * Todas letras minúsculas;
    * Nomes compostos separados por _  ("Underline");
    * Evitar criar nomes com caracteres únicos (a, A, b, B, c, C...);
    * Dar nomes intuitivos para as variáveis.
#
##### OBS_1:
O Python é uma linguagem `Case-Sensitive`. Significa que variáveis de mesmo nome, mas com maiúsculas ou minúsculas diferentes, são variáveis diferentes.

EX: a variável `nome` é diferente da variável `Nome` que também é diferente da variável `NOME`

### 1.1 - Número Inteiro

In [1]:
# Criação da variável numérica numero_inteiro_1
numero_inteiro_1 = 10

# Criação da variável numérica numero_inteiro_2
numero_inteiro_2 = 4

In [2]:
# Exibe o valor da variável numero_inteiro_1
print('numero_inteiro_1 =', numero_inteiro_1)

# Exibe o valor da variável numero_inteiro_2
print('numero_inteiro_2 =', numero_inteiro_2)

numero_inteiro_1 = 10
numero_inteiro_2 = 4

In [3]:
# Exibe o tipo da variável numero_inteiro_1
type(numero_inteiro_1)

int

### 1.2 - Números Decimais

In [4]:
# Criação da variável numérica numero_inteiro_1
numero_decimal_1 = 5.5

# Exibe o tipo da variável numero_decimal_1
type(numero_decimal_1)

float

In [5]:
# Criação da variável numérica numero_inteiro_2
numero_decimal_2 = 8.4

# Exibe o tipo da variável numero_decimal_2
type(numero_decimal_2)

float

In [6]:
# Exibe o valor da variável numero_decimal_1
print('numero_decimal_1 =', numero_decimal_1)

# Exibe o valor da variável numero_decimal_2
print('numero_decimal_2 =', numero_decimal_2)

numero_decimal_1 = 5.5
numero_decimal_2 = 8.4

### 1.3 - STR - Caracteres

Qualquer caracter que esteja entre aspas simples ' ' ou duplas " "

Ex: 'a', 'ç', '123', 'carro'

No python, o tipo de dados caracter é referenciado por ``str``, abreviação de string, que significa uma sequência de caracteres alfanuméricos (letras, números e/ou símbolos).

In [7]:
# Criação da variável textual string_1
string_1 = 'Isto é um texto'

# Criação da variável textual string_2
string_2 = 'Carro'

# Criação da variável textual string_3
string_3 = 'a'

In [8]:
print(string_1)
print(string_2)
print(string_3)

Isto é um texto
Carro
a

In [9]:
type(string_2)

str

#### 1.3.1 Função print()
Ao utilizar a função print, podemos exibir o valor da variável e acrescentar outros textos

##### 1.3.1.1 - Acrescentar o texto dentro de aspas, colocar uma vírgula fora das aspas e em seguida o nome da variável

In [10]:
print('O valor da string_2 é',string_2,'e da string_3',string_3)

O valor da string_2 é Carro e da string_3 a

#### 1.3.1.2 - Usar a ``função f string``, onde é acrescentada a letra `f` antes do texto e o nome da variável em qualquer lugar dentro das aspas, dentro de chaves

In [11]:
print(f'O valor da string_2 é: {string_2} e da string_3: {string_3}')

O valor da string_2 é: Carro e da string_3: a

#### 1.3.1.3 - Usar a ``.format``, onde se acrescenta um par de chaves no lugar onde desejar que a variável apareça e, após as aspas, usar a função .format(nome_da_variavel, nome_da_outra_variavel). A primeira variável irá aparecer no lugar do primeiro par de chaves, a segunda variável no lugar do segundo par de chaves...

In [12]:
print('O valor da string_2 é: {} e da string_3: {}'.format(string_2, string_1))

O valor da string_2 é: Carro e da string_3: Isto é um texto

### 1.3.2 - Tamanho da String
Uma variável do tipo string é composta por uma sequencia de caracteres alfa numéricos, isto quer dizer ela possui uma quantidade determinada de posições e que cada caracter possui uma posição.

In [13]:
# len() é a função para retornar o tamanho da string
len('casa .')

6

In [14]:
# Exibe o valor da string_2
print(string_2)

Carro

In [15]:
# Exibe o tamanho da string_2
len(string_2)

5

In [16]:
# Exibe todas as posições da string_2
# Note que a contagem começa em 0
print(string_2 [0])
print(string_2 [1])
print(string_2 [2])
print(string_2 [3])
print(string_2 [4])

C
a
r
r
o

## 1.4 Tipo de dados Lógico
O tipo de Dados lógico é usado para representar dois únicos
valores lógicos possíveis: verdadeiro ou falso. É comum
encontrar-se em outras referencias outros tipos de pares de
valores lógicos com sim/não , 1/0, true/false.

No python o tipo de dados lógico é representado por ``bool``, de booleano, sendo os dois possíveis valores `True` (Verdadeiro) e `False` (Falso).

In [17]:
type(True)

bool

In [18]:
type(False)

bool

# 2 - Operações com Variáveis Numéricas

Podem ser feita entre números, variáveis numéricas e variáveis numéricas e números

#### 2.1 - Adição
Sinal de mais `+`

In [19]:
numero_1 = 11
numero_2 = 5.5

In [20]:
numero_1 + numero_2

16.5

#### 2.2 - Subtração
Sinal de menos `-`

In [21]:
numero_1 = 11
numero_2 = 5.5

In [22]:
numero_1 - numero_2

5.5

#### 2.3 - Multiplicação
Sinal de asterisco `*`

In [23]:
numero_1 = 2
numero_2 = 5.5

In [24]:
numero_1 * numero_2

11.0

#### 2.4 - Divisão
Sinal de barra `/`

In [25]:
numero_1 = 11
numero_2 = 5.5

In [26]:
numero_1 / numero_2

2.0

#### 2.5 - MOD (Resto da Divisão)
Sinal de porcentagem  %
#
OBS: Para verificar se uma variável é par, verifique se o resto da divisão por 2 é 0

In [27]:
numero_1 = 11
numero_2 = 2

In [28]:
numero_1 % numero_2

1

#### 2.6 - Exponenciação

Sinal são dois asteriscos `**`

In [29]:
numero_1 = 10
numero_2 = 2

In [30]:
numero_1 ** numero_2

100

# 3 - Operadores Relacionais

Também conhecidos como operadores de comparação, comparam duas variáveis. No python temos:
* Compara se duas variáveis são iguais `==`
* Compara se duas variáveis são diferentes `!=`
* Compara se uma variável é maior que outra `>`
* Compara se uma variável é maior ou igual que outra `>=`
* Compara se uma variável é menor que outra `<`
* Compara se uma variável é menor ou igual que outra `<=`

A resposta da comparação é em booleano, sendo True se a comparação for verdadeira, ou False se for falsa.

In [31]:
# Compara se 1 é igual a 2
1 == 2

False

In [32]:
# Compara se 1 é igual a 1
1 == 1

True

In [33]:
# Verifica se o número é par ( Verifica se o resto da divisão por 2 é zero)
10 % 2 == 0

True

In [34]:
11 % 2

1

In [35]:
# Verifica se o número é par ( Verifica se o resto da divisão por 2 é zero)
11 % 2 == 0

False

In [36]:
# Verifica se o número é ímpar ( Verifica se o resto da divisão por 2 é diferente de zero)
10 % 2 != 0

False

In [37]:
# Verifica se o número é ímpar ( Verifica se o resto da divisão por 2 é diferente de zero)
11 % 2 != 0

True

In [39]:
# Compara se 1 é maior que 2
1 > 2

False

In [38]:
# Compara se 2 é maior ou igual que 2
2 >= 2

True

# 4 - Estruturas Condicionais - If, Else, Elif

<code>if</code> permite dizer ao computador para executar ações alternativas com base em um determinado conjunto de resultados.

Verbalmente, podemos imaginar que estamos dizendo ao computador:

"Se esse caso acontecer, execute alguma ação"

Podemos então expandir ainda mais a ideia com as instruções <code>elif</code> e <code>else</code>, que nos permitem informar ao computador:

"Se esse caso acontecer, execute alguma ação. Senão, se outro caso acontecer, execute outra ação. Caso contrário, se **nenhum** dos casos acima ocorreu, execute esta ação."

Observe o formato de sintaxe das instruções <code>if</code> para ter uma idéia melhor disso:

    if caso1:
        faça ação1
    elif case2:
        faça ação2
    elif case3:
        faça ação3
    elif case4:
        faça ação4
    else:
        faça ação5

Podemos colocar vários elif um após o outro, mas somente um if e um else

In [40]:
# Cria a variável número
numero = 5

In [41]:
# Operador de comparação que verifica se a variável numero é igual a 5
numero == 5

True

In [42]:
# Operador de comparação que verifica se a variável numero é igual a 6
numero == 6

False

In [43]:
# Verifica se número é igual a 5 e executa o print caso seja igual
if numero == 5:
    print('O número é igual a 5')

O número é igual a 5

In [44]:
# Verifica se número é igual a 6 e executa o print caso seja igual
if numero == 6:
    print('O número é igual a 5')

In [45]:
# Verifica se número é diferente de 6 e executa o print caso seja diferente
if numero != 6:
    print('O número é diferente de 6')

O número é diferente de 6

In [46]:
if numero == 6:
    print('O número é igual a 6')
elif numero == 5:
    print('O número é igual a 5')

O número é igual a 5

In [47]:
if numero == 6:
    print('O número é igual a 6')
elif numero != 5:
    print('O número é diferente de 5')

In [48]:
if numero == 6:
    print('O número é igual a 6')
elif numero != 5:
    print('O número é diferente de 5')
else:
    print('O número é 5')

O número é 5

In [49]:
# Imprimir um percetual de imposto
# Quando o salario for menor que R$500 o programa irá imprimir o percentual 5%
# Quando o salario for De R$500 a R$850 o programa irá imprimir o percentual 10%
# Quando o salario for acima de R$850 o programa irá imprimir o percentual 27.5%

salario = 19000

if salario < 500:
    print('Leão vai tirar apenas 5% da sua conta')
elif salario>=500 and salario <=850:
    print('Leão vai tirar apenas 10% da sua conta e por favor fique tranquilo')
else:
    print('Lamento muito! você está ganhando bem então vai pagar apenas 27.5%')

Lamento muito! você está ganhando bem então vai pagar apenas 27.5%

## Conectar duas ou mais comparações

* Com o `and` (`e` em português), é possível conectar duas ou mais comparações, e o resultado depende de:
    * Todas as comparações precisam ser verdadeiras para que o resultado seja verdadeiro (True)
    * Caso uma das comparações seja falsa (False), o resultado será falso

* Com o `or` (`ou` em português), é possível conectar duas ou mais comparações, e o resultado depende de:
    * Todas as comparações presicam ser falsas para o resultado ser falso (False)
    * Caso uma única comparação seja verdadeira, o resultado será verdadeiro (True), independente se existirem outras comparações falsas (False)

In [50]:
salario>=500

True

In [51]:
salario <=850

False

In [52]:
salario>=500 and salario <=850

False

In [53]:
salario>=500 or salario <=850

True

In [54]:
# Exibir se o número é negativo, neutro ou positivo
numero = -6

if numero < 0:
        print('É um número negativo')
elif numero == 0:
        print('É um número neutro')
elif numero > 0:
        print('É um número positivo')

É um número negativo

In [55]:
# Exibir 2 números em ordem crescente

numero_1 = 1
numero_2 = 1

# Verifica se o numero_1 é menor que o numero_2
if numero_1 < numero_2:
    print(numero_1, numero_2)

# Verifica se o numero_2 é menor que o numero_1
elif numero_2 < numero_1:
    print(numero_2, numero_1)

else:
    print('Os números são iguais')

Os números são iguais

In [56]:
# Exibir o menor e o menor numero entre 3 números
numero_1 = 2
numero_2 = 5
numero_3 = 18

# Verifica se numero_1 é maior que o numero_2 e o numero_3 (Caso seja verdade, o numero_1 é o maior)
if numero_1 > numero_2 and numero_1 > numero_3:

    # Caso o numero_1 seja o maior, é feita a comparação para ver se o numero_2 é menor que o numero_3
    if numero_2 < numero_3:
        print(f'maior numero é o {numero_1} e o menor é o {numero_2}')

    # Se o numero_2 não for o menor, significa que o menor é o numero_3
    else:
        print(f'maior numero é o {numero_1} e o menor é o {numero_3}')


# Verifica se numero_2 é maior que o numero_1 e o numero_3 (Caso seja verdade, o numero_2 é o maior)
elif numero_2 > numero_1 and numero_2 > numero_3:

    # Caso o numero_2 seja o maior, é feita a comparação para ver se o numero_1 é menor que o numero_3
    if numero_1 < numero_3:
        print(f'maior numero é o {numero_2} e o menor é o {numero_1}')

    # Se o numero_1 não for o menor, significa que o menor é o numero_3
    else:
        print(f'maior numero é o {numero_2} e o menor é o {numero_3}')


# Caso o numero_1 nem o numero_2 sejam o maior numero, o que resta para ser o maior é o numero_3
else:
    # Caso o numero_3 seja o maior, é feita a comparação para ver se o numero_1 é menor que o numero_2
    if numero_1 < numero_2:
        print(f'maior numero é o {numero_3} e o menor é o {numero_1}')

    # Se o numero_1 não for o menor, significa que o menor é o numero_2
    else:
        print(f'maior numero é o {numero_3} e o menor é o {numero_2}')

maior numero é o 18 e o menor é o 2

# 5 - Estrutura de iteração - FOR

Um loop <code>for</code> atua como um iterador no Python; ele percorre itens que estão em uma **sequência** ou qualquer outro item iterável. Os objetos que aprendemos sobre os quais podemos iterar incluem strings e listas.

##### Aqui está o formato geral para um loop <code>for</code> no Python:
    
    for item in objeto:
        instruções

In [57]:
# Criar uma lista de números
lista = [1,2,3,4,5,6]

In [58]:
# Cria-se uma variável num que irá percorrer os elementos da lista
for num in lista:
    # Exibe o valor da variável num
    print(num)

1
2
3
4
5
6

Ótimo! Espero que isso faça sentido. Agora vamos adicionar uma instrução <code>if</code> para exibir somente números pares.
#
O resto da divisão `mod`, representado por `%` nos permite obter o restante em uma divisão.

In [59]:
# Cria-se uma variável num que irá percorrer os elementos da lista
for num in lista:
    # Verifica se o resto da divisão de num por 2 é igual a 0
    if num % 2 == 0:
        print(num)

2
4
6

In [60]:
#Para imprimir os ímpares
for num in lista:
    # Verifica se o resto da divisão de num por 2 é diferente de 0
    if num % 2 != 0:
        print(num)

1
3
5

Poderíamos também colocar uma declaração <code>else</code> lá:

In [61]:
for num in lista:
    if num % 2 == 0:
        print(num)
    else:
        print('Número ímpar')

Número ímpar
2
Número ímpar
4
Número ímpar
6

In [62]:
# Cria a variável soma que começa com zero
soma = 0

# Cria-se uma variável num que irá percorrer os elementos da lista
for num in lista:
    # A variável soma irá receber o valor dela + o num
    soma += num

print(soma)

21

## 5.1 - Loop For repetir uma quantidade específica de vezes

O loop for pode percorrer uma determinada quantidade de valores com a função range()

Dentro da função range podem ser passador 3 parâmetros sendo range(inicio, fim, passo),onde:
* inicio é o primeiro valor a ser percorrido;
* fim é o último valor a ser percorrido;
* passo é a quantidade de valores que o loop anda em cada execução

In [63]:
# O loop começará em 0, terminará em 9 e irá percorrer os valores de 1 em 1
for numero in range(0,5,1):
    print(numero)

0
1
2
3
4

In [64]:
# O loop começará em 2, terminará em 9 e irá percorrer os valores de 2 em 2
for numero in range(0,10,2):
    print(numero)

0
2
4
6
8

In [65]:
# O loop começará em 0, terminará em 9 e irá percorrer os valores de 3 em 3
for numero in range(0,10,3):
    print(numero)

0
3
6
9

Tanto o primeiro quanto o último parâmetro do range não precisam ser informados, por padrão eles são 0 e 1, respectivamente, Sendo necessário especificar somente qual o valor máximo.

In [66]:
# O loop começará em 0, terminará em 4 e irá percorrer os valores de 1 em 1
for numero in range(0,5,1):
    print(numero)

0
1
2
3
4

In [67]:
# O loop começará em 0, terminará em 4 e irá percorrer os valores de 1 em 1
for numero in range(5):
    print(numero)

0
1
2
3
4

# 6 - Exercícios de Loop For

## 6.1 - Tabuada

* Crie uma variável numero e atribua a ela algum valor de 1 a 10;
* Use o loop for para exibir a tabuada deste número
EX: numero = 5, o texto exibido será:
    * 5 x 1 = 5
    * 5 x 2 = 10
    * 5 x 3 = 15
    * 5 x 4 = 20
    * 5 x 5 = 25
    * 5 x 6 = 30
    * 5 x 7 = 35
    * 5 x 8 = 40
    * 5 x 9 = 45
    * 5 x 10 = 50
#
Caso o número seja alterado, os textos e os resultados também devem ser alterados

In [68]:
# Desenvolva sua resposta aqui
numero = 5

for i in range(1, 11):
    resultado = numero * i
    print(f"{numero} x {i} = {resultado}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## 6.2 - Escreva um programa que exiba todos os números entre 5 e 100 que são divisíveis por 7, mas não são múltipos de 5.

In [69]:
# Desenvolva sua resposta aqui
for numero in range(5, 101):
    if numero % 7 == 0 and numero % 5 != 0:
        print(numero)

7
14
21
28
42
49
56
63
77
84
91
98

## 6.3 - Soma dos números
* Crie uma variável numero e atribua a ela algum valor numérico inteiro;
* Utilize o loop ``for`` para exibir a soma de todos os numeros de 1 até o valor da variável numero.

EX: numero = 4

Valor exibido deve ser 10

Pois 1+2+3+4 = 10

In [70]:
numero = 4
soma = 0

for i in range(1, numero + 1):
    soma += i

print(f"A soma de todos os números de 1 até {numero} é {soma}.")

A soma de todos os números de 1 até 4 é 10.

## 6.4 - Quantidade de Valores pares e ímpares na lista_numeros
* Crie uma variavel quantidade_par e outra quantidade_impar;
* Utilize o loop for para percorrer a lista_numeros;
* Utilize as estruturas condicionais para verificar se o valor é par ou ímpar;
* Exiba a quantidade de valores pares e a quantidade de valores ímpares.

In [71]:
lista_numeros = [5,484,2,21,4,6,9,451,4,8,6,2,1,4,8,6,2,1,7,51,8,7,51,8,7,5,13,748,4,22,2,68,479,43,1,4,98,6841,64,84,86]

quantidade_par = 0
quantidade_impar = 0

for numero in lista_numeros:
    if numero % 2 == 0:
        quantidade_par += 1
    else:
        quantidade_impar += 1

print(f"Quantidade de valores pares: {quantidade_par}")
print(f"Quantidade de valores ímpares: {quantidade_impar}")

Quantidade de valores pares: 24
Quantidade de valores ímpares: 17

# 7 - Exercícios de revisão

#### 7.1 - Cálculo do Imposto de Renda anual

* Crie uma variável salario que irá receber um valor qualquer
* Crie uma variável imposto mensal que irá receber um valor entre 0 e 1 (imposto de 25% = 0.25, imposto de 0.08 = 8%, imposto de 0.3 = 30%);
* Calcule o valor pago de imposto no mês;
* Calcule o valor pago de imposto no ano;
* Exiba na tela o valor do salário, o valor do imposto e quanto é pago de imposto anualmente.

In [72]:
salario = 5000
imposto_mensal = 0.25

imposto_pago_mes = salario * imposto_mensal

imposto_pago_ano = imposto_pago_mes * 12

print(f"Salário: R${salario:.2f}")
print(f"Imposto Mensal: R${imposto_pago_mes:.2f}")
print(f"Imposto Anual: R${imposto_pago_ano:.2f}")

Salário: R$5000.00
Imposto Mensal: R$1250.00
Imposto Anual: R$15000.00

#### 7.2 - Média das notas
Em uma escola de programação, o professor realiza 4 provas no ano.
Para facilitar o cálculo da nota final, faça um programa que tenha uma variável para cada uma das 4 notas, calcule a média das notas e exiba um texto de acordo com o exemplo: "A nota 1 foi 5, nota 2 5, nota 3 5 e nota 4 5. Sua média foi 5"

#
Para calcular a média, some as 4 notas, em seguida divida o valor da somatória por 4

In [73]:
nota1 = 5
nota2 = 5
nota3 = 5
nota4 = 5

# Cálculo da média
media = (nota1 + nota2 + nota3 + nota4) / 4

# Exibindo o resultado
print(f"A nota 1 foi {nota1}, nota 2 {nota2}, nota 3 {nota3} e nota 4 {nota4}. Sua média foi {media:.1f}.")

A nota 1 foi 5, nota 2 5, nota 3 5 e nota 4 5. Sua média foi 5.0.

#### 7.3 - Autonomia do Carro

* Crie uma variável para receber quantos quilometros o carro andou;
* Crie uma variável parareceber quantos litros o carro gastou;
* Crie uma variável para receber a autonomia do carro (Calcula-se usando a quantidade de quilometros dividido pela quantidade de litros)
* Exiba o texto, semelhante a "O carro andou 100 quilometros, gastou 10 litros, portanto a autonomia é de 10 Km/L"

In [74]:
quilometros_andados = 100
litros_gastos = 10

autonomia = quilometros_andados / litros_gastos

print(f"O carro andou {quilometros_andados} quilómetros, gastou {litros_gastos} litros, portanto a autonomia é de {autonomia:.1f} Km/L.")

O carro andou 100 quilómetros, gastou 10 litros, portanto a autonomia é de 10.0 Km/L.

#### 7.4 - Valocidade média do Carro

* Crie uma variável para receber quantos quilometros o carro andou;
* Crie uma variável para receber em quantos minutos o carro andou a distância;
* Crie uma variável para receber a velocidade média do carro (Calcula-se usando a quantidade de quilometros dividido pela quantidade de minutos, multiplicado por 60) -> (100km / 40minutos)*60 = 150Km/h
* Exiba o texto, semelhante a "O carro andou 150 quilometros em 40 minutos, portanto a velocidade média é de 150Km/h"

In [75]:
quilometros_andados = 150
minutos = 40

velocidade_media = (quilometros_andados / minutos) * 60

print(f"O carro andou {quilometros_andados} quilómetros em {minutos} minutos, portanto a velocidade média é de {velocidade_media:.1f} Km/h.")

O carro andou 150 quilómetros em 40 minutos, portanto a velocidade média é de 225.0 Km/h.

#### 7.5 - Exiba o segundo elemento da lista de numeros

In [76]:
lista_numeros = [5,484,2,21,4]

segundo_elemento = lista_numeros[1]
print(f"O segundo elemento da lista é: {segundo_elemento}")

O segundo elemento da lista é: 484

#### 7.6 - Altere o primeiro elemento da lista para 'Carro'

In [78]:
lista = ['javali', 'iate', 9, 'Corrente']

lista[0] = 'Carro'

print(f"A lista alterada é: {lista}")

A lista alterada é: ['Carro', 'iate', 9, 'Corrente']

#### 7.7 - Use reatribuição de valor e multiplique o valor da primeira posição da lista pelo valor da última da lista abaixo, em seguida exiba a lista

resultado esperado lista_numeros = [27, 7, 5, 8, 7, 9]

In [79]:
lista_numeros = [3, 7, 5, 8, 7, 9]

lista_numeros[0] = lista_numeros[0] * lista_numeros[-1]

print(f"A lista alterada é: {lista_numeros}")

A lista alterada é: [27, 7, 5, 8, 7, 9]

#### 7.8 - Contar números na lista
Utilize a função count() para contar quantas vezes o número 15 aparece na lista abaixo, em seguida exiba o resultado
#
Resultado esperado = 8

In [80]:
lista_varios_numeros = [11,15,67,34,87,3345,68,654,5489,15,15,158,231,87,6,54,121,
                       981,3284981,548,45,56,85,0,1874,1,64,8,1,515,15,15,12,30,330,
                       87841,520,1,8,53,1,5,4,78,95610,20,68,76,15,18,15,34,72,15]

contagem_15 = lista_varios_numeros.count(15)

# Exibindo o resultado
print(f"O número 15 aparece {contagem_15} vezes na lista.")

O número 15 aparece 8 vezes na lista.

#### 7.9 Com base na lista_varios_numeros, utilize formatação de strings para exibir o texto 'O maior valor da lista é 'maior numero da lista' e o menor é 'menor numero da lista''
#
Dicas:
    - Use a função sort() para ordenar a lista em ordem crescente
    - Crie uma variável que irá receber o menor valor da lista (ordene a lista e pegue o primeiro valor da lista)
    - Use a função reverse() para inverter a ordem da lista
    - Crie uma variável que irá receber o maior valor da lista
#
Resultado esperado 'O maior valor da lista é 3284981 e o menor é 0'

In [81]:
lista_varios_numeros = [
    11, 15, 67, 34, 87, 3345, 68, 654, 5489, 15, 15, 158, 231, 87, 6, 54,
    121, 981, 3284981, 548, 45, 56, 85, 0, 1874, 1, 64, 8, 1, 515, 15,
    15, 12, 30, 330, 87841, 520, 1, 8, 53, 1, 5, 4, 78, 95610, 20, 68,
    76, 15, 18, 15, 34, 72, 15
]

lista_varios_numeros.sort()

menor_valor = lista_varios_numeros[0]

lista_varios_numeros.reverse()

maior_valor = lista_varios_numeros[0]

print(f"O maior valor da lista é {maior_valor} e o menor é {menor_valor}.")

O maior valor da lista é 3284981 e o menor é 0.

#### 7.10 - Texto da lista

    Crie uma variável que receberá a palavra ``Eu`` da lista_de_palavras
    Crie uma variável que receberá a palavra ``estou`` da lista_de_palavras
    Crie uma variável que receberá a palavra ``aprendendo`` da lista_de_palavras
    Crie uma variável que receberá a palavra ``Python`` da lista_de_palavras
    Crie uma variável que receberá a palavra ``' '`` da lista_de_palavras

Apenas com as variáveis criadas, exiba a frase 'Eu estou aprendendo Python'

In [82]:
lista_de_palavras = ['Python', 'aprendendo', 'estou', 'Eu', ' ']
# Desenvolva sua resposta aqui

palavra1 = lista_de_palavras[0]
palavra2 = lista_de_palavras[1]
palavra3 = lista_de_palavras[2]
palavra4 = lista_de_palavras[3]
espaco = ' '

frase = palavra1 + espaco + palavra2 + espaco + palavra3 + espaco + palavra4
print(frase)

Python aprendendo estou Eu

#### 7.11 - Com a lista_de_listas, exiba a frase 'O carro tem 4 rodas' utilizando indexação de lista

In [83]:
lista_de_listas = ['garrafa','O','0', 'e', 'garrafa',['tem','4', 'cinco', 'rodas',[' ', 'sapato','bancos',17]],'14', 'carro']

frase = f"{lista_de_listas[1]} {lista_de_listas[7]} {lista_de_listas[5][0]} {lista_de_listas[5][1]} {lista_de_listas[5][3]}"

print(frase)

O carro tem 4 rodas

#### 7.12 - Com a lista_de_listas, exiba a frase 'O carro tem cinco bancos' utilizando indexação de lista

In [84]:
lista_de_listas = ['garrafa','O','0', 'e', 'garrafa',['tem','4', 'cinco', 'rodas',[' ', 'sapato','bancos',17]],'14', 'carro']

frase = f"{lista_de_listas[1]} {lista_de_listas[7]} {lista_de_listas[5][0]} {lista_de_listas[5][2]} {lista_de_listas[5][4][2]}"

print(frase)

O carro tem cinco bancos

#### 7.13 - Com a lista_de_listas, exiba a frase 'O carro tem 4 rodas e cinco bancos' utilizando indexação de lista

In [85]:
lista_de_listas = ['garrafa','O','0', 'e', 'garrafa',['tem','4', 'cinco', 'rodas',[' ', 'sapato','bancos',17]],'14', 'carro']

frase = f"{lista_de_listas[1]} {lista_de_listas[7]} {lista_de_listas[5][0]} {lista_de_listas[5][1]} {lista_de_listas[5][3]} {lista_de_listas[5][4][2]}"

print(frase)

O carro tem 4 rodas bancos

#### 7.14 - Exiba o valor 'jato'

In [86]:
meios_de_transporte = { 'chave_1' : 'jato',
                        'chave_2' : 'notebook',
                        'chave_3' : 'avião',
                        'chave_4' : 'youtube'}

print(meios_de_transporte['chave_1'])

jato

#### 7.14 - Exiba o valor 'youtube'

In [87]:
meios_de_transporte = { 'chave_1' : 'jato',
                        'chave_2' : 'notebook',
                        'chave_3' : 'avião',
                        'chave_4' : 'youtube'}

print(meios_de_transporte['chave_4'])

youtube

#### 7.15 - Exiba o valor 'instagram'

In [88]:
redes_sociais = {'redes':['Tik Tok', 'instagram', 'Facebook']}

print(redes_sociais['redes'][1])

instagram

#### 7.16 - Exiba o valor 18000

In [89]:
pessoa = {  'nome' : 'Gizele',
            'idade' : 23,
            'cargo' : { 'empresa' : 'Gazeta',
                        'especificação' : 'Gerente de Marketing',
                        'departamento' : 'Marketing Digital',
                        'remuneração' : 18000
                        }
        }

print(pessoa['cargo']['remuneração'])

18000

#### 7.17 - Exiba a palavra 'tablet'

In [90]:
dicionario_maluco = {
    'chave_1' :[1,2,{'chave_2':['tablet','celular']}]
}

print(dicionario_maluco['chave_1'][2]['chave_2'][0])

tablet

#### 7.18 - Exiba a frase 'Eu Consigo!'
    Crie uma variável para receber o valor 'Eu'
    Crie uma variável para receber o valor 'consigo'
    Crie uma variável para receber o valor ' '
    Crie uma variável para receber o valor '!'
    Exiba a frase completa

In [91]:
meu_dicionario = {'chave1':123,'chave2':[12,'Eu',33],'chave3':['item0','consigo',{'chave4':{'chave5':[' ','item1', '!']}}]}

palavra1 = meu_dicionario['chave2'][1]
palavra2 = meu_dicionario['chave3'][1]
espaco = meu_dicionario['chave3'][2]['chave4']['chave5'][0]
exclamacao = meu_dicionario['chave3'][2]['chave4']['chave5'][2]

frase = palavra1 + espaco + palavra2 + exclamacao
print(frase)

Eu consigo!

#### 7.19- Exiba a frase 'Foi moleza aprender dicionários e listas!'
    Crie uma variável para receber cada palavra
    Exiba a frase completa

In [93]:
meu_dicionario = {  'chave1':{'outra_chave':['Foi', 'k']},
                    'chave2':['!','moleza',13],
                    'chave3':['listas', 'e', 'aprender',{'chave4':{'chave5':[' ', 'dicionarios']}}]}

palavra1 = meu_dicionario['chave1']['outra_chave'][0]
palavra2 = meu_dicionario['chave2'][1]
palavra3 = meu_dicionario['chave3'][2]
palavra4 = meu_dicionario['chave3'][3]['chave4']['chave5'][1]
espaco = meu_dicionario['chave3'][3]['chave4']['chave5'][0]
exclamacao = meu_dicionario['chave2'][0]

frase = palavra1 + espaco + palavra2 + espaco + palavra3 + espaco + palavra4 + espaco + exclamacao
print(frase)

Foi moleza aprender dicionarios !

#### 7.20 - Tabuada da multiplicação ou divisão

* Cria uma variável que irá receber um valor numérico;
* Exiba a tabuada da multiplicação do número se o número for par.
* Exiba a tabuada da divisão do número se o número for ímpar.

EX: numero = 5, o texto exibido será:
* 5 / 1 = 5
* 5 / 2 = 2.5
* 5 / 3 = 1.6666666
* 5 / 4 = 1.25
* 5 / 5 = 1
* 5 / 6 = 0.8333333
* 5 / 7 = 0.7142857
* 5 / 8 = 0.625
* 5 / 9 = 0.5555555
* 5 / 10 = 0.5
#
EX: numero = 6, o texto exibido será:
* 6 x 1 = 6
* 6 x 2 = 12
* 6 x 3 = 18
* 6 x 4 = 24
* 6 x 5 = 30
* 6 x 6 = 36
* 6 x 7 = 42
* 6 x 8 = 48
* 6 x 9 = 54
* 6 x 10 = 60
#
Caso o número seja alterado, os textos e os resultados também devem ser alterados

In [94]:
numero = 5

if numero % 2 == 0:
    print(f"Tabuada da multiplicação de {numero}:")
    for i in range(1, 11):
        resultado = numero * i
        print(f"{numero} x {i} = {resultado}")
else:
    print(f"Tabuada da divisão de {numero}:")
    for i in range(1, 11):
        resultado = numero / i
        print(f"{numero} / {i} = {resultado}")

Tabuada da divisão de 5:
5 / 1 = 5.0
5 / 2 = 2.5
5 / 3 = 1.6666666666666667
5 / 4 = 1.25
5 / 5 = 1.0
5 / 6 = 0.8333333333333334
5 / 7 = 0.7142857142857143
5 / 8 = 0.625
5 / 9 = 0.5555555555555556
5 / 10 = 0.5

#### 7.21 - Contar quantos números pares e ímpares existem na lista_varios_numeros:

Use um loop for para percorrer os valores da lista, uma condicional para verificar se o número é par e uma variável que recebe mais um valor (um contador) se a condicional for verdadeira

In [95]:
lista_varios_numeros = [11,15,67,34,87,3345,68,654,5489,15,15,158,231,87,6,54,121,
                       981,3284981,548,45,56,85,0,1874,1,64,8,1,515,15,15,12,30,330,
                       87841,520,1,8,53,1,5,4,78,95610,20,68,76,15,18,15,34,72,15]

quantidade_par = 0
quantidade_impar = 0

for numero in lista_varios_numeros:
    if numero % 2 == 0:
        quantidade_par += 1
    else:
        quantidade_impar += 1

print(f"Quantidade de valores pares: {quantidade_par}")
print(f"Quantidade de valores ímpares: {quantidade_impar}")

Quantidade de valores pares: 26
Quantidade de valores ímpares: 28